<!DOCTYPE html>
<div data-ng-controller="boardCtrl" class="container">
	<!-- <table class="table table-bordered table-hover">
		
	</table> -->
	

	<div data-ng-hide="board">
		<h4>Select a board from the dropdown menu to view it</h4>
	</div>
	
	<div data-ng-hide="!board">
		<form>
			<input data-ng-model="name" type="text"/><br>
			<button data-ng-click="createSwimLane(name, board.id)">Create Swimlane</button>
		</form>
		
		<h4>{{board.name}}</h4>
		<table><tr>
			<td class="well" ng-repeat="swimLane in board.swimLanes" >
				<scrum-swim-lane swim-lane="swimLane" board="board"></scrum-swim-lane>
			</td> <!-- swimLanes -->
		</tr></table>
	</div>
	
	

</div>
