<!DOCTYPE html>
<div data-ng-controller="boardCtrl" class="container">
	<!-- <table class="table table-bordered table-hover">
		
	</table> -->
	
	<div data-ng-hide="board">
		<h4>Select a board from the dropdown menu to view it</h4>
	</div>
	
	<div data-ng-hide="!board">
		<h4>{{board.name}}</h4>
		<table><tr>
			<td class="well" ng-repeat="swimLane in board.swimLanes" >
				{{swimLane.name}}
				<div ng-repeat="story in swimLane.stories">
					<scrum-story story="story" swimLane="swimLane"></scrum-story>
					
				</div> <!-- stories -->
			</td> <!-- swimLanes -->
		</tr></table>
	</div>
</div>
