<!DOCTYPE html>
<div class="container">
<form id="loginCtrl" data-ng-controller="loginCtrl">
	<h4>{{errorMessage}}</h4>
	<h4>Enter your information below:</h4>
	Username: <input id="u_name" type="text" placeholder ="Enter username" data-ng-model="bu.username" required/><br>
	Password: <input id="u_pass" type="password" placeholder="Enter password" data-ng-model="bu.password" required/><br>
	<button id="loginBtn" class="btn btn-primary" data-ng-click="login(bu)">Log in</button>
	<h4 data-ng-hide="!submitted">Submitting information, please wait...</h4>
</form>
</div>