<!DOCTYPE html>
<div data-ng-controller="storyCtrl">
		<div class="btn-group-vertical btn-group-xs col-xs-1" role="group" aria-label="move">
			<button type="button" class="btn btn-default" data-ng-click="moveUp()"
				data-ng-disabled="story.order == 0">
				<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
			</button>
			<button type="button" class="btn btn-default" data-ng-click="moveDown()"
				data-ng-disabled="story.order == swimLane.stories.length-1">
				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
			</button>
		</div>
		<!-- Story button, with modal attachment -->
		<button class="btn btn-info btn-block" data-toggle="modal"
			data-ng-attr-data-target="{{ '#modal' + story.id  }}">
				<span class="badge">{{story.points}}</span> {{story.title}}
		</button>
	
	<!-- Modal -->
	<div class="modal fade" data-ng-attr-id="{{ 'modal' + story.id }}"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						data-ng-click="closeModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div data-ng-hide="editing">
						<h4 class="modal-title" id="myModalLabel"><span class="badge">{{story.points}}</span> {{story.title}}</h4>
					</div>
					<div data-ng-if="editing">
						<input type="number" data-ng-model="story.points" min=1 max=10 required />
						<input type="text" data-ng-model="story.title" required />
					</div>
				</div>
				<div class="modal-body">
					<h5>Description</h5>
					<div data-ng-if="editing">
						<textarea data-ng-model="story.description"></textarea>
					</div>
					<div data-ng-hide="editing">
						<span data-ng-if="story.description">&emsp;{{story.description}}</span>
						<span data-ng-hide="story.description">&emsp;No description</span>
						<br><br>
						<h5>Tasks</h5>
						<div data-ng-hide="story.tasks.length">&emsp;No tasks yet
						</div>
						<table class="table table-hover table-condensed">
							<tr data-ng-repeat="task in story.tasks">
								<td><scrum-task task="task" story="story"></scrum-task></td>
							</tr>
						</table>
						<form>
							&emsp; <input type="text" data-ng-model="newTask.name" required />
							<button class="btn btn-default" data-ng-click="createTask()">Add
								Task</button>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<div data-ng-hide="editing">
						<div class="btn-group dropup">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Move to... <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
						  	<li data-ng-repeat="otherSwimLane in otherSwimLanes">
						    	<a data-ng-click="moveTo(otherSwimLane)">{{otherSwimLane.name}}</a>
						    </li>
						  </ul>
						</div>
						<button type="button" class="btn btn-default"
							data-ng-click="resetNewTask(); edit()">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-danger" data-ng-click="delete()"
							data-dismiss="modal">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</div>
					<div data-ng-if="editing">
						<button type="button" class="btn btn-success"
							data-ng-click="update()">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-danger"
							data-ng-click="reset()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div> <!-- modal-content -->
		</div> <!-- modal-dialog -->
	</div> <!-- modal -->
</div> <!-- storyCtrl -->