<!DOCTYPE html>
<div data-ng-controller="swimLaneCtrl">
	<div class="btn-group btn-group-sm" role="group" aria-label="swimlaneOptions">
		<button type="button" class="btn btn-default" data-ng-click="moveLeft()"
			data-ng-disabled="swimLane.order == 0">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		</button>
		<button type="button" class="btn btn-default" data-ng-click="moveRight()"
			data-ng-disabled="swimLane.order == board.swimLanes.length-1">
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		</button>
		<button class="btn btn-default" data-toggle="modal"
			data-ng-attr-data-target=" {{ '#swimLane' + swimLane.id }}">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		</button>
		<button class="btn btn-danger" data-ng-click="deleteSwimLane()">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
	</div>
	

	<div class="modal fade"
		data-ng-attr-id="{{ 'swimLane' + swimLane.id }}"
		tabindex="-1" role="dialog" aria-labeledby="myModallabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					{{swimLane.name}} <input data-ng-model="updatedName" type="text" /><br>
					<button class="button button-primary" data-dismiss="modal"
						data-ng-click="editSwimLane(updatedName)">Save</button>
				</div>
			</div>
		</div>
	</div>

	<h4>{{swimLane.name}}</h4>
	<table class="table">
	<tr ng-repeat="story in swimLane.stories">
		<td><scrum-story story="story" swim-lane="swimLane"></scrum-story></td>
	</tr>
	</table>
	<!-- stories -->

	<!-- New Story button, with modal attachment -->
	<button class="btn btn-default" data-toggle="modal"
		data-ng-attr-data-target="{{ '#newstory' + swimLane.id }}">
		Create New Story</button>
	<br>

	<!-- Modal -->
	<div class="modal fade"
		data-ng-attr-id="{{ 'newstory' + swimLane.id }}" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						data-ng-click="resetNewStory()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Create New Story</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="title" class="col-sm-2 control-label">Title</label>
							<div class="col-sm-10">
								<input id="title" type="text" class="form-control"
									data-ng-model="newStory.title">
							</div>
						</div>
						<div class="form-group">
							<label for="u_name" class="col-sm-2 control-label">Points</label>
							<div class="col-sm-10">
								<input id="points" type="number" class="form-control" min=1
									max=10 data-ng-model="newStory.points">
							</div>
						</div>
						<div class="form-group">
							<label for="desc" class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10">
								<textarea id="desc" class="form-control"
									data-ng-model="newStory.description"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						data-ng-click="createStory()" data-dismiss="modal">Create
						Story</button>
				</div>
			</div>
			<!-- modal-content -->
		</div>
		<!-- modal-dialog -->
	</div>
	<!-- modal -->
</div>
<!-- swimLaneCtrl -->