@charset "ISO-8859-1";

scrum-story .btn-group-vertical {
    width: 20%;
    padding: 0 0.25em;
}

scrum-story .btn-block {
    width: 80%;
    height: 3em;
}

scrum-story .glyphicon {
    margin-left: -0.1em;
}

