@charset "ISO-8859-1";

scrum-task .btn-group-vertical {
    width: 10%;
    margin-top: -0.8em;
    margin-bottom: 0.5em;
}

scrum-task .col-xs-8 {
    width: 60%;
}

scrum-task .col-xs-2 {
	width: 20%;
    margin-top: -0.3em;
}

